* {
    box-sizing: border-box;
}

html {
    font-family: lato, sans-serif;
    color: var(--clrPrimary);
    line-height: 1.25rem;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

canvas {
    cursor: grab;
    background-color: white;
    border: 1px solid black;

}

.main-canvas {
    box-shadow: 10px 10px 5px black;
}

input {
    font-size: 1.5625em;
}

img {
    width: 100%;
}

a {
    color: var(--clrPrimary-2);
    text-decoration: none;
}

select {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: var(--clrSecondary);
    background-image: none;
    cursor: pointer;
}

select::-ms-expand {
    display: none;
}

/* buttons */

.btn {
    max-width: fit-content;
    min-width: 3.125em;
    min-height: 3.125em;
    max-height: 3.125em;
    letter-spacing: 0.03em;
    font-weight: 600;
    color: var(--clrSecondary);
    background-color: white;
    border: 0.125em solid var(--clrPrimary-1);
    padding: 0.625em 1.25em;
    font-family: inherit;
    cursor: pointer;

    transition:
        color 0.3s,
        border-color 0.3s;
}

.btn:hover {
    animation: beat .6s alternate infinite;
    color: var(--clrSecondary);
    border-color: var(--clrSecondary);
}

@keyframes beat {
    to {
        /* font-size: 1.3em; */
        scale: 1.15;
    }
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;

    background-color: #111;
    color: #fff;
    padding: 10px;
    transition: bottom .5s;
}

.user-msg.open {
    bottom: 10px;
}