/* MOBILE ONLY */
@media (max-width: 660px) {
    .main-header {
        min-width: 23.125rem;
    }

    .empty10-line {
        display: none;
    }

    .saved-container .canvas-container canvas {
        width: 9.375em;
    }

    .gallery-header .gallery-options .buttons-container {
        margin: auto;
        margin-block-end: 0.625em;
    }

    .main-header {
        padding: 1.25em 0;
        min-height: 4.375em;
    }

    .logo {
        margin-inline-start: 1em;
    }

    .btn-toggle-menu {
        margin-inline-end: 1em;
    }

    .main-header .main-nav {
        position: fixed;
        top: 4.375em;

        left: 0;
        width: 100%;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        transition: grid-template-rows 1s;
        align-items: end;
    }

    body.menu-open .main-nav {
        grid-template-rows: 1fr;
    }

    .main-header .main-nav ul {
        grid-auto-flow: revert;
        min-height: 0;
        visibility: visible;
        background-color: var(--clrPrimary1);
    }

    .main-layout>*:not(.full) {
        grid-column: 1 / -1;
    }

    .main-layout>*.full {
        grid-column: 1/-1;
    }
}

@media (min-width: 400px) {

    .gallery-container,
    .saved-container {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
    }

    .gallery-header .gallery-options .buttons-container {
        margin: auto;
        margin-block-end: 0.625em;
    }
}

@media (min-width: 580px) {

    .gallery-container .img-container,
    .saved-container .canvas-container {
        max-width: 15.625em;
        max-height: 15.625em;
        min-width: 15.625em;
    }
}

/* SMALL */
@media (min-width: 660px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--s)) minmax(20px, 1fr);
    }

    .btn-toggle-menu {
        display: none;
    }
}


/* MEDIUM */
@media (min-width: 920px) {

    .gallery-container,
    .saved-container {
        width: 100%;
    }

    .gallery-header .gallery-options .buttons-container {
        margin-inline: 0;
        margin-block-end: 2.1875em;
    }

    .gallery-header .gallery-options .gallery-h1 {
        display: block;
    }

    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--m)) minmax(20px, 1fr);
    }

    .gallery-container,
    .saved-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .editor-container {
        grid-auto-flow: column;
    }
}

/* LARGE */
@media (min-width: 1120px) {
    .main-layout {
        grid-template-columns: minmax(20px, 1fr) minmax(auto, var(--l)) minmax(20px, 1fr);
    }

    :root {
        --headerHeight: 8.125rem;
    }
}

/* 1200px */
@media (min-width: 1200px) {

    .gallery-container,
    .saved-container {
        grid-template-columns: repeat(4, 1fr);
    }
}