:root {
    /* PALLETE */
    --clrPrimary2: #1e1e1e;
    --clrPrimary1: #1B262C;
    --clrPrimary: #606060;
    --clrPrimary-1: #c2c1c1;
    --clrPrimary-2: #f8f8f8;

    --clrSecondary1: #0F4C75;
    --clrSecondary: #3282B8;
    --clrSecondary-1: #BBE1FA;
    /* layout */
    --headerHeight: 100px;

    /* mq */
    --l: 1090px;
    --m: 860px;
    --s: 600px;
}