.editor-table-container {
    grid-template-rows: 1fr 1fr 2fr 1fr;
    padding: 1em;
    border: 1px solid var(--clrPrimary1);
}

.editor-table-container .input-container input {
    background-color: var(--clrSecondary-1);
    width: 100%;
}

.editor-table-container .input-container {
    min-height: 1.5625em;
    max-height: 2em;
}

.editor-table-container .options-container {
    background-color: var(--clrPrimary1);
}