.select-container .select {
    max-width: 155px;
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    color: black;
    background-color: var(--clrSecondary);
}

.select-container .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    background-color: #34495e;
    transition: .25s all ease;
    pointer-events: none;
}

.select-container .select:hover::after {
    color: #f39c12;
}

.select-container .select-family .op-impact {
    font-family: impact;
}

.select-container .select-family .op-arial {
    font-family: Arial, sans-serif;
}

.select-container .select-family .op-verdana {
    font-family: Verdana, sans-serif;
}

.select-container .select-family .op-tahoma {
    font-family: Tahoma, sans-serif;
}

.select-container .select-family .op-trebuchet-ms {
    font-family: "Times New Roman", Times, serif;
}

.select-container .select-family .op-times {
    font-family: 'Georgia, serif';
}

.select-container .select-family .op-georgia {}

.select-container .select-family .op-garamond {}

.select-container .select-family .op-courier-new {}

.select-container .select-family .op-brush {}