.tools-container .txt-input {
    min-height: 30px;
    max-height: 50px;
}

.tools-container {
    border: 5px solid var(--clrSecondary);
    box-shadow: inset 3px -2px 3px var(--clrSecondary);
    box-shadow: 10px 10px 5px black;
}